# Sublime Text 3 Files

SublimeText/User/Package Control.merged-ca-bundle
SublimeText/User/Package Control.system-ca-bundle
SublimeText/User/PackageControl.cache/*
SublimeText/User/Package Control.last-run